ul.topnav {
  list-style-type: none;
  top: 30px;
  right: 40px;
  overflow: hidden;
  font-family: 'Fjord One', sans-serif;
  font-weight: bold;
  float: right;
  position: fixed;
  z-index: +1;
  
}

ul.topnav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

ul.topnav li a {
  color: rgba(204,143,0,1.00);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  color: lightgrey;
  text-decoration: underline;
}

ul.topnav li.icon {
  display: none;
  position: fixed;
  top: 30px;
  right: 10px;
  transition: 0.7s;
}

@media screen and (max-width:680px) {
  ul.topnav li {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  .press_tiger{
    display: inline-block !important;
    color: red;
    opacity: 0;
    transition: opacity 1s ease;
    
  }
}

@media screen and (max-width:680px), hanheld {
  ul.topnav.responsive {
    position: absolute;
    top: 60%;
    background: lightgrey;
    transition: 0.5s;
    border-radius: 5px;
    padding: 2%;
    color: black;
  }
  
  ul.topnav.responsive li.icon{
    position: fixed;
    right: 1%;
    top: 1%;
    transition: 0.7s; 
  }
  
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  
  ul.topnav li a:hover {
  color: black;
  }
  
  li.icon:hover  + .press_tiger{
    opacity: 1;
  }
  ul.topnav.responsive .press_tiger{
    display: none !important;
  }
}